<div class="container">
    <h1>Order You Shoo</h1>
</div>

<div class="container">
    <form action="" method="post">
        <div class="col-md-4 input-group">
            <span class="input-group-addon" id="name-addon">Name:</span>
            <input type="text" name="name" class="form-control" placeholder="Name" aria-describedby="name-addon">
        </div>
        <div class="col-md-4 input-group">
            <span class="input-group-addon" id="address-addon">Address:</span>
            <input type="text" name="address" class="form-control" placeholder="Address" aria-describedby="address-addon">
        </div>
        <div class="col-md-4 input-group">
            <span class="input-group-addon" id="quantity-addon">Quantity:</span>
            <input type="number" name="quantity" class="form-control" placeholder="Quantity" aria-describedby="quantity-addon">
        </div>
        <div class="col-md-4 input-group">
            <span class="input-group-addon" id="size-addon">Size:</span>
            <select class="form-control" name="size">
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select>
        </div>
        <div class="col-md-4 input-group">
            <!-- <span class="input-group-addon" id="quantity-addon">Quantity:</span> -->
            <input type="submit" class="form-control" name="place_order" value="Order">
        </div>

        <!-- <div class="row">
            <div class="col-md-1">
                <label for="name">Name:</label>
            </div>
            <div class="col-md-1">
                <input type="name" name="name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"><label for="address">Address:</label></div>
            <div class="col-md-1"><input type="name" name="address" /></div>
        </div>
        <div class="row">
            <div class="col-md-1"><label for="quantity">Quantity:</label></div>
            <div class="col-md-1"><input type="number" name="quantity" /></div>
        </div>
        <div class="row">
            <div class="col-md-1"><label for="size">Size:</label></div>
            <div class="col-md-1"><select name="size">
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select></div>
        </div>
        <div class="row">
            <div class="col-md-4"><input type="submit" name="place_order" value="Order"></div>
        </div> -->
    </form>
</div>
